@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: Samarkan;
  font-style: normal;
  font-weight: 200 700;
  src: url("./fonts/samarkan.TTF") format("truetype");
}

@font-face {
  font-family: Bolton;
  font-style: normal;
  src: url("./fonts/BoltonLight.ttf");
}

@theme {
  --color-lightest-parchment: #fdf5e6;
  --color-light-parchment: #f4ead5;
  --color-dark-parchment: #e6d3a3;
  --color-copper-brown: #a97142;
  --color-charcoal-black: #2b2b2b;
  --color-saffron: #d97706;
  --color-maroon: #902c14;
  --color-camel-tan: #c1a16b;
  --color-ash-grey: #b2b0a6;

  --font-samarkan: Samarkan;
  --font-bolton: Bolton;
  --font-garamond: "EB Garamond", serif;
}

body {
  font-family: "EB Garamond", serif;
}
